
    <header>
        <nav>
            <ul>
                <li><a href="/">
                    <img src="img/logo.svg" alt="awesomefood">                                   
                </a></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="signup">Sign-Up</a></li>
                <li><a href="login">Log-In</a></li>
            </ul>
        </nav>
    </header>

    <main id="form">
        <form action="/processSignup" method="post">
            <span class="succMsg">{{succMsg}} <a href="welcome">{{cont}}</a></span>
            <div>
                <h2>Sign Up <span>to create account.</span></h2>
            </div>
            <input type="text" name="firstname" id="firstname" placeholder="First Name">
            <span class="errEmail">{{errFname}}</span>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name">
            <span class="errEmail">{{errLname}}</span>
            <input type="text" name="email" id="email" placeholder="Email Address">
            <span class="errEmail">{{errEmail}}</span>
            <input type="password" name="password" id="password" placeholder="Password">
            <span class="errPassword">{{errPassword}}</span>
            <input type="submit" value="Sign Up Today">
        </form>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="/">
                    <img src="img/logo.svg" alt="awesomefood">                                   
                </a></li>
                <li><p>Awesome Foods CA.</p></li>
                <li><a href="mailto:abc@123.com">abc@123.com</a></li>
                <li><a href="tel:+123456789">+123456789</a></li>
                <li><a href="https://www.google.com/maps/place/Canada/@59.3773411,-115.3892372,4.06z/data=!4m5!3m4!1s0x4b0d03d337cc6ad9:0x9968b72aa2438fa5!8m2!3d56.130366!4d-106.346771" target="_blank">Ottowa, Canada</a></li>
            </ul>
            <ul>
                <li><p>Navigate</p></li>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="signup">Sign-Up</a></li>
                <li><a href="login">Log-In</a></li>
            </ul>
            <ul>
                <li><p>Social</p></li>
                <li><a href="http://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="http://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="http://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="http://youtube.com" target="_blank">YouTube</a></li>
            </ul>
            <ul>
                <li><p>More</p></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><p>Copyright &copy; Winter 2021</p></li>
            </ul>
            <ul>
                <li><a href="#form">Back to top</a></li>
            </ul>
        </nav>
    </footer>
